<script type="text/javascript">
	$(function(){
		$(".navbar").removeClass("navbar-devise");
		$(".navbar").addClass("navbar-default");
	});
</script>

<div class="jumbotron">
  <%= render "partial/navbar" %>
  
  <div class="container">
  	<div class="row">
  	  <div class="col-md-6 col-md-offset-3 text-center">
		<h1 class="display-3">Hello, world!</h1>
  	  </div>
  	</div>
  </div>

<!-- Search Form -->
  <div class="top-search-field">
    <%= form_tag search_path, method: :get do %>
      <div class="row">
        <div class="container">

          <%= hidden_field_tag :lat %>
          <%= hidden_field_tag :lng %>

          <div class="col-md-7 col-xs-10" style="padding-right: 0px">
            <%= text_field_tag :search, params[:search], placeholder: "Where is the place you are looking for?", class: "form-control", id: "top-search-form" %>
          </div>

          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "Check in", class: "form-control" %>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "Check out", class: "form-control" %>
          </div>
          <div class="col-md-1 col-xs-2" style="padding-left: 0px; ">
            <%= submit_tag "Search", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">  
  <!-- ご利用の流れ -->
  <section id="services">
    <div class="container">
      <div class="row row-space-4">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">User Guide</h2>
          <h3 class="section-subheading">SpaceXYZ is the reservation service of satellites runnning around you!</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <%= image_tag 'search-icon'%>
          <h4 class="service-heading">Search</h4>
          <p class="text-muted hidden-xs">
          At first, let's search for a satellete you want to use.</p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'calendar-icon'%>
          <h4 class="service-heading">Reserve</h4>
          <p class="text-muted hidden-xs">
            Next, let's reserve a use period of the selected satellite.
          </p>
        </div>
        <div class="col-md-4">
          <%= image_tag 'satellite-icon'%>
          <h4 class="service-heading">Observation</h4>
          <p class="text-muted hidden-xs">
          During the reserved period, let's enjoy your own time in the space.
          </p>
        </div>
      </div>
    </div>
  </section> 

  <!--　おすすめのシッター -->
  <section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
    <div class="container">
      <div class="row row-space-2">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Satellite Recomendation</h3>
          <h4 class="section-subheading">Line up of Satellites SpaceXYZ certificated</h4>
        </div>
      </div>

      <div class="row">
        <% @users.each do |user|%>
          <% if !user.listings.blank?%>
            <div class="col-md-4 col-sm-6 portfolio-item row-space-2">
              <%= link_to listing_path(user.listings[0]) do %>
                <%= image_tag user.listings[0].photos[0].image.url(:medium) %>
              <% end %>
              <div class="portfolio-caption">
                <%= image_tag user.image,class:"img-circle profile-1"%>
                <span style="font-weight: bold;">Mr,s. <%= user.name %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>

<%= render 'pages/footer' %>

<!-- datepickerのスクリプト -->
<!-- <script>
  $(function() {
    $("#start_date").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#end_date').datepicker("option", "minDate", selected);
        $('#end_date').attr('disabled', false);
      }
    });

    $("#end_date").datepicker({
      dateFormat: 'dd-mm-yy',
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        $('#start_date').datepicker("option", "maxDate", selected);
      }
    });
  })
</script> -->

<script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function init() {
        var input = /** @type {!HTMLInputElement} */(
            document.getElementById('top-search-form'));

        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function() {

          var place = autocomplete.getPlace();
          var lat = place.geometry.location.lat();
          var lng = place.geometry.location.lng();

          document.getElementById('lat').value = lat;
          document.getElementById('lng').value = lng;

          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDf2-2PYVZ2TZGW2-gE14DwI4fUH6Ro0EE&libraries=places&callback=init"
        async defer></script>